@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;700&family=Architects+Daughter&display=swap");

:root {
  /* Font */
  --font-rob: "Roboto", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-arch: "Architects Daughter", cursive;

  /* Color */
}

/* --------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-open);
  font-size: 1.4rem;
  overflow-x: hidden;
}

/* -------------------- */

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

section {
  padding: 8rem 0;
}

.title {
  text-align: center;
  color: #845460;
  font-family: var(--font-rob);
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 5rem;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* ----------- Navigation -------- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.nav-logo {
  font-size: var(--font-rob);
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link:not(:last-child) {
  margin-right: 1rem;
}

.link-item {
  color: rgb(173, 171, 171);
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.link-item:hover {
  color: rgb(4, 151, 151);
  transform: scale(1.1);
}

/* ------------- Header ----------- */

.header {
  min-height: 95vh;
  background-image: url("../img/climbing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  margin: 8rem 6rem 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header-title {
  text-align: right;
  color: #fff;
  margin-bottom: 3rem;
  font-weight: 400;
}

.header-title h1 {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.header-title p {
  font-family: var(--font-arch);
  font-size: 4rem;
  color: #845460;
}

.header-link {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #0b6177;
  color: #fff;
  border-radius: 0.5rem;
  margin: 1rem 0 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  animation: pulsate 3s infinite;
}

@media (max-width: 900px) {
  .header-container {
    margin: 8rem 2rem 5rem 0;
  }

  .header-title h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .header-title p {
    font-size: 3rem;
  }
}
@media (max-width: 720px) {
  .header-container {
    margin: 6rem 0 3rem 0;
  }

  .header-title h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .header-title p {
    font-size: 2rem;
  }
}
@media (max-width: 620px) {
  .nav-logo {
    padding-left: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-link {
    margin-right: 0 !important;
  }
  .header-container {
    margin: 5rem 0 3rem 0;

    align-items: flex-start;
    padding-left: 1rem;
  }

  .header-title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .header-title p {
    text-align: left;
  }
}

/* --------------- Sections ------------- */

.section-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  padding: 0 5rem;
}

@media (max-width: 430px) {
  .section-boxes {
    padding: 0 2rem;
  }
}
@media (max-width: 400px) {
  .section-boxes {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 0 3rem;
  }
}

.section-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem 3rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.section-img {
  margin-bottom: 2rem;
  background-color: #fff;
}

.section-svg {
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
}

.service-svg-cart {
  fill: #f7a440;
}

.service-svg-android {
  fill: #8e9775;
}

.why-svg-fast {
  fill: #ff8474;
}
.why-svg-clean {
  fill: #8fd9a8;
}
.why-svg-light {
  fill: #28b5b5;
}

.section-para {
  font-size: 2rem;
  font-weight: 300;
  font-family: var(--font-arch);
  color: rgb(104, 103, 103);
  transition: all 0.3s ease;
}

.section-para:hover {
  color: #0b7769;
}

.section-box:hover .section-svg {
  transform: scale(0.75);
}

.section-why {
  background: #eee;
}

@media (max-width: 620px) {
  .section-svg {
    width: 7rem;
    height: 7rem;
  }
}

/* ---------- Footer ------------ */

footer {
  padding: 1.5rem 1rem;
  background: #0a426d;
}

footer p {
  text-align: center;
  font-family: var(--font-arch);
  letter-spacing: 1px;
  color: rgb(201, 195, 195);
}

@media (max-width: 430px) {
  footer p {
    font-size: 1.2rem;
  }
}
