@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;700&display=swap");

:root {
  /* Font */
  --font-rob: "Roboto", sans-serif;
  --font-open: "Open Sans", sans-serif;

  /* Color */
}

/* --------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-open);
  font-size: 1.4rem;
}

/* -------------------- */

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

/* ----------- Navigation -------- */

.navigation {
  background: #141258;
}

.nav-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.nav-logo {
  font-size: var(--font-rob);
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link:not(:last-child) {
  margin-right: 1rem;
}

.link-item {
  color: rgb(173, 171, 171);
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.link-item:hover {
  color: rgb(4, 151, 151);
  transform: scale(1.1);
}

/* ------------- Header ----------- */

.header {
  height: 85vh;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-container {
  clip-path: polygon(14% 0, 100% 0, 86% 100%, 0 100%);
  background-color: rgba(27, 26, 114, 0.86);
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 5rem;
}

.header-title {
  padding: 0 5rem;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.header-title span {
  color: #c482f0;
  display: inline-block;
}
